
SUPABASE_URL=your_url
SUPABASE_KEY=your_key
ADMIN_KEY=change_me
MAX_CARDS=5000
BINGO_ROWS=4
BINGO_COLS=5
OVERLAY_KEY=optional_stream_overlay_key
ULULE_API_BASE=https://api.ulule.com/v1
ULULE_API_KEY=
ULULE_PROJECT_ID=
ULULE_MIN_CONTRIBUTION_CENTS=1000
